<h2>Categories search for "<%= @content %>"</h2>
        <table class= "table">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th>Category</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>